__pycache__/
~$*.xls*
.DS_Store
.Rhistory

.env
.secret.*
scripts/ipt-update/.ipt.cred
scripts/ipt-update/resources.tsv

backups/
db/
docker/
downloads/
exports/
fasta-exports/
postgres-data/
scripts/
uploads/
venv/
