__pycache__/
~$*.xls*
.DS_Store
.Rhistory

.env
.secret.*
scripts/ipt-update/.ipt.cred
scripts/download/.cas.cred
scripts/ipt-update/resources.tsv
scripts/ipt-update/pub_info.tsv

backups/
db/
docker/
downloads/
!molmod/static/downloads
exports/
fasta-exports/
postgres-data/
scripts/
uploads/
venv/
