__pycache__/
~$*.xls*
.DS_Store
.Rhistory

.env
.secret.*
scripts/ipt-update/.ipt.cred
scripts/ipt-update/resources.tsv

# Folders replaced by named volumes in prod
downloads/
!molmod/static/downloads
exports/
postgres-data/
uploads/
fasta-exports/

backups/*
backups/db/*
!backups/db
!backups/db/db-dump-kth.sql.custom  # Example data
