.DS_Store
.Rhistory
.env
__pycache__/
.secret.*
~$*.xls*
backups/db/*
backups/db/db-dump-kth.sql.custom
backups/imports
backups/latest_backup*
backups/logs
backups/uploads
downloads/
exports/
fasta-exports/
postgres-data/
scripts/ipt-update/.ipt.cred
scripts/ipt-update/resources.tsv
uploads/
