.DS_Store
__pycache__/
exports/
fasta-exports/
postgres-data/
uploads/
.env
.secret.*
.Rhistory
.DS_Store
~$*.xls*
scripts/ipt-update/.ipt.cred
scripts/ipt-update/resources.tsv
backups/latest_backup*
backups/db/*
!backups/db/db-dump-kth.sql.custom
backups/logs
backups/uploads
backups/imports
