version: "3.8"
# Container logging - saves logs of running/stopped (but not removed) containers!
# (includes application logs - see /log/log_config_{environment}.json -
# but also docker events & system information)
# View with: docker logs <container_id_or_name>
x-logging:
  &default-logging
  driver: "local"
  options:
    max-size: '20m'
    max-file: '5'
    compress: 'true'

secrets:
  postgres_pass:
    file: .secret.postgres_pass
  postgrest_config:
    file: .secret.postgrest_config
  email_config:
    file: .secret.email_config
  ipt_pass:
    file: .secret.ipt_pass
  auth_pass:
    file: .secret.auth_pass

services:

  postgres:
    restart: always
    image: postgres:14
    container_name: asv-db
    logging: *default-logging
    volumes:
      # Files read (in alphanumeric order) during database startup,
      # and used to define database schema and roles
      - ./db/db-data-schema.sql:/docker-entrypoint-initdb.d/01-data-schema.sql
      - ./db/db-api-schema.sql:/docker-entrypoint-initdb.d/02-api-schema.sql
      - ./db/db-roles.sql:/docker-entrypoint-initdb.d/03-roles.sql
      - ./db/restrict_db_access.sh:/docker-entrypoint-initdb.d/04-restrict-db.sh
      # Database files stored in an easily cleared local directory
      - ./postgres-data:/var/lib/postgresql/data
    # User and password information
    env_file:
      - .env
    # Connect ports (HOST:CONTAINER) for IPT and pgAdmin (SSH)
    ports:
      - 5432:5432
    secrets:
      - postgres_pass
      - ipt_pass
      - auth_pass
    environment:
    # This will directly set POSTGRES_PASSWORD during db initialization
    # as explained here: https://hub.docker.com/_/postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_pass
    # ... but these need to be explicitly read - see db-roles.sql
      - POSTGRES_IPT_PASS_FILE=/run/secrets/ipt_pass
      - POSTGRES_AUTH_PASS_FILE=/run/secrets/auth_pass


    # Avoid permission issues on Mac by setting container dir for db stats
    command: postgres -c stats_temp_directory=/tmp

  postgrest:
    # https://hub.docker.com/r/postgrest/postgrest
    restart: always
    build:
      context: ./
      dockerfile: docker/postgrest
    container_name: asv-rest
    logging: *default-logging
    env_file:
      - .env
    secrets:
      - postgrest_config
    depends_on:
      - postgres

  blast-worker:
    build:
      context: ./
      dockerfile: docker/blast
    init: true
    logging: *default-logging
    env_file:
      - .env
    environment:
      - FLASK_DEBUG=1
    secrets:
      - postgres_pass
    volumes:
      - ./blast-databases:/blastdbs
      - ./fasta-exports:/worker/fasta-exports

  develop:
    container_name: asv-main
    build:
      context: ./
      dockerfile: docker/develop
    logging: *default-logging
    volumes:
      # To make changes take immediate effect (using Flask reload in DEBUG mode)
      - ./:/app
    env_file:
      - .env
    secrets:
      - postgres_pass
      - email_config
    environment:
      - PYTHONPATH=/app/molmod
      - FLASK_DEBUG=1
      - CAS_AFTER_LOGOUT=${HOST_URL:-${CAS_AFTER_LOGOUT}}
      - MAINTENANCE_MODE=${MAINTENANCE_MODE:-0}
      - MAINTENANCE_ROUTES=${MAINTENANCE_ROUTES:-All}
    ports:
      - 5000:5000
    depends_on:
      - postgrest
