version: "3.8"
# logging:
# the docker-compose logging documentation is at:
# https://docs.docker.com/compose/compose-file/compose-file-v3/#logging
# logging options are documented at:
# https://docs.docker.com/config/containers/logging/configure/
#
# Logging is generally configured on the service level, that is - you define
# a logging entry for every service. This can be useful, but for now we use the
# extension field syntax to define a logger that we reuse for all services.
#
x-logging:
  &default-logging
  driver: "json-file" # this is the default logger
  options:
    max-size: '20m'
    max-file: '5'
    compress: 'true'

secrets:
  postgres_pass:
    file: .secret.postgres_pass
  postgrest_anon_pass:
    file: .secret.anon_pass
  postgrest_config:
    file: .secret.postgrest_config

services:
  postgres:
    restart: always
    image: postgres:13
    container_name: asv-db
    logging: *default-logging
    volumes:
      # Files read (in alphanumeric order) during database startup,
      # and used to define database schema and roles
      - ./misc/db-data-schema.sql:/docker-entrypoint-initdb.d/01-data-schema.sql
      - ./misc/db-api-schema.sql:/docker-entrypoint-initdb.d/02-api-schema.sql
      - ./misc/db-roles.sql:/docker-entrypoint-initdb.d/03-roles.sql
      # Database files stored in an easily cleared local directory
      - ./postgres-data:/var/lib/postgresql/data
    # User and password information
    env_file:
      - .env
    ports:
      - 5432:5432
    secrets:
      - postgres_pass
      - postgrest_anon_pass
    environment:
      - POSTGRES_PASSWORD_FILE=./run/secrets/postgres_pass
      - PGRST_DB_ANON_PASS_FILE=./run/secrets/postgrest_anon_pass
  postgrest:
    # https://hub.docker.com/r/postgrest/postgrest
    restart: always
    build:
      context: ./
      dockerfile: docker/postgrest
    container_name: asv-rest
    logging: *default-logging
    env_file:
      - .env
    secrets:
      - postgrest_config
    environment:
      - POSTGREST_CONFIG_FILE=./run/secrets/postgrest_config
    depends_on:
      - postgres
  blast-worker:
    build:
      context: ./
      dockerfile: docker/blast
    logging: *default-logging
    volumes:
      - ./blast-databases:/blastdbs
  develop:
    container_name: asv-main
    build:
      context: ./
      dockerfile: docker/develop
    logging: *default-logging
    volumes:
      - type: bind
        source: ./
        target: /code
    env_file:
      - .env
    ports:
      - 5000:5000
    depends_on:
      - postgrest
