{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Swedish ASV database</h1>
        <p>Welcome to the database of Swedish Amplicon Sequence Variants (ASVs)
            <br> - an interface to sequence-based observations in <a href="https://bioatlas.se/">the SBDI Bioatlas platform.</a>
        </p>
    </div>
</div>

{% if error_page %}
<div class="col-md-12" style="color: #aa4442"><p>SORRY, page {{ error_page }} does not exist!</p></div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Search for ASVs and occurrences <br>using sequence alignment.
            </p>
            <p><a class="btn btn-primary" id=link_to_blast href="{{ url_for('main_bp.blast') }}" role="button">BLAST</a></p>
        </div>
        <div class="col-md-4">
            <p>Search for ASVs and occurrences <br>matching some criteria.
            </p>
            <p><a class="btn btn-primary"  id=link_to_api_search href="{{ url_for('main_bp.search_api') }}" role="button">Search</a></p>
        </div>
    </div>
</div>
{% endblock body %}
