certifi==2020.12.5
chardet==4.0.0
click==7.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
requests==2.25.1
urllib3==1.26.3
Werkzeug==1.0.1
WTForms==2.3.3
pandas==1.2.1
psycopg2-binary==2.8.6
openpyxl==3.0.6
Flask-CAS==1.0.2
