{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
<div class='container'>
    <div>
        <br>
        <h2>About the Swedish ASV database</h2>
        <p><br>The database of Swedish Amplicon Sequence Variants (ASVs)
            is an interface to sequence-based observations in
            <a href="https://bioatlas.se/">Biodiversity Atlas Sweden</a>,
            <br>which is part of the <a href="https://biodiversitydata.se/">
            Swedish Biodiversity Data Infrastructure (SBDI)</a>.
            Read more about Molecular biodiversity data in SBDI
            <a href="https://biodiversitydata-se.github.io/mol-data//">
            here</a>.
        </p>
    </div>
</div>
{% endblock body %}
