{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
<div class='container'>
    <div>
        <br>
        <h2>About the Swedish ASV database</h2>
        <p><br>The database of Swedish Amplicon Sequence Variants (ASVs)
            is an interface to sequence-based observations in
            <a href="https://bioatlas.se/">Biodiversity Atlas Sweden</a>,
            <br>which is part of the <a href="https://biodiversitydata.se/">
            Swedish Biodiversity Data Infrastructure (SBDI)</a>.
            Read more about Molecular biodiversity data in SBDI
            <a href="https://biodiversitydata-se.github.io/mol-data//">
            here</a>.
        </p>
    </div>
    <hr>
    <div>
        <h3>Statistics</h3>
        <p><br>Overview of marker genes and taxa represented in the ASV database,
            excluding any datasets not yet published in the Bioatlas.</p>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <table id='stats_table' class='dataframe table table-striped'>
                <thead>
                    <tr>
                        <th>Marker</th>
                        <th>Kingdoms</th>
                        <th># Datasets</th>
                        <th># Phyla</th>
                        <th># Classes</th>
                        <th># Orders</th>
                        <th># Families</th>
                        <th># Genera</th>
                        <th># Species</th>
                        <th># ASV:s</th>
                    </tr>
                </thead>
                    {% if rows %}
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.gene }}</a></td>
                        <td>{{ row.kingdoms }}</a></td>
                        <td align="center">{{ row.datasets }}</a></td>
                        <td align="center">{{ row.phyla }}</a></td>
                        <td align="center">{{ row.classes }}</a></td>
                        <td align="center">{{ row.orders }}</a></td>
                        <td align="center">{{ row.families }}</a></td>
                        <td align="center">{{ row.genera }}</a></td>
                        <td align="center">{{ row.species }}</a></td>
                        <td align="center">{{ row.asvs }}</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}
