<header>

    <!-- Banner-->
    <div class="container">
        <div class="banner">
            <a href="https://biodiversitydata.se/" title="Swedish Biodiversity Data Infrastructure">
                <img src="https://bioatlas.biodiversitydata.se/app/themes/sbdi/assets/images/SBDI-rgb.svg" alt="Swedish Biodiversity Data Infrastructure">
            </a>
            <p>Swedish Biodiversity Data Infrastructure</p>
            <div>
                <a class="hidden-xs" href="https://biodiversitydata.se/explore-data/">
                    <i class="fas fa-arrow-circle-right"></i>&nbsp;All SBDI tools
                </a>
                <br>
                <a class="hidden-xs" href="https://docs.biodiversitydata.se/support/">
                    <i class="fas fa-arrow-circle-right"></i>&nbsp;Support form
                </a>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav"><a class="nav" href="{{ url_for('main_bp.index') }}">Swedish ASV portal</a></li>
                    <li class="nav"><a class="nav" href="{{ url_for('blast_bp.blast') }}">BLAST search</a></li>
                    <li class="nav"><a class="nav" href="{{ url_for('filter_bp.filter') }}">Filter search</a></li>
                    <li class="nav"><a class="nav" href="{{ url_for('main_bp.submit') }}">Submit data</a></li>
                    <li class="nav"><a class="nav" href="{{ url_for('main_bp.download') }}">Download data</a></li>
                    <li class="nav"><a class="nav" href="{{ url_for('main_bp.about') }}">About</a></li>
                    <li class="nav visible-xs-inline">
                        <a class="nav" href="https://biodiversitydata.se/explore-data/">All SBDI tools</a>
                    </li>
                    <li class="nav visible-xs-inline">
                        <a class="nav" href="https://docs.biodiversitydata.se/support/">Support form</a>
                    </li>
                    {% if firstname %}
                        <li class="nav"><a class="nav" href="/logout">Log out {{firstname}}</a></li>
                    {% else %}
                        <li class="nav"><a class="nav" href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
