{% extends 'layout.html' %}

{% block title %}
BLAST search
{% endblock title %}

{% block body %}
<div class='container'>
    <div>
        <h1>BLAST for ASVs and Bioatlas records</h1>
        <p>Use the Basic Local Alignment Search Tool (BLAST), to find Amplicon
           Sequence Variants (ASVs), and associated Bioatlas occurrence records, matching your sequences and alignment criteria.
       </p>
    <hr>
    </div>
    <form action='' method='post' id='sform' name='sform' class='search_function'>
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                {% if sform.sequence.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        <p>
                            <label for='sequence_textarea'>Query sequence(s)</label>
                            <br>Nucleotide sequence(s), in fasta format, to compare against ASVs (subject sequences) in reference database
                            <span style='float: right' id='sequence_count'>2108/50000 characters</span>
                        </p>
                            {{ sform.sequence(id='sequence_textarea', rows=10, cols=80, maxlength='50000', class='form-control') }}
                            <span id='helpBlock2' class='help-block'>
                                {% for error in sform.sequence.errors %}
                                {{ error }}
                                {% endfor %}
                            </span>
                    </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-4'>
                <p>
                    <label for='min_identity'>Minimum identity (Id %)</label>
                        <br>Share of exact matches in alignment
                </p>
                {% if sform.min_identity.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.min_identity(id='min_identity_input', class='form-control', type='number') }}
                        <span class='help-block'>
                            {% for error in sform.min_identity.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
            <div class='col-md-4'>
                <p><label for='min_qry_cover'>Minimum query coverage (Cov %)</label>
                    <br>Share of aligned query bases
                </p>
                {% if sform.min_qry_cover.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.min_qry_cover(id='min_qry_cover_input', class='form-control', type='number') }}
                        <span class='help-block'>
                            {% for error in sform.min_qry_cover.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'><p>
                <b>What does this mean? </b>This corresponds to a nucleotide BLAST (<i>BLASTn</i>) search filtered
                on <i>-perc_identity</i> and <i>-qcov_hsp_perc</i>.
                Query cover is calculated per <i>High Scoring Pair (HSP)</i>,
                i.e. per ungapped local pairwise alignment between query and subject,
                and we only report the best HSP for each query-subject hit.
                Result fields correspond to <i>qacc</i>, <i>stitle</i>, <i>pident</i>, <i>qcovhsp</i> and <i>evalue</i>
                in tabular BLASTn output format (<i>–outfmt=6</i>),
                and rows are sorted on <i>Query</i> and <i>E-value</i> by default.
                E-value specifies the number of hits of similar (or higher) score
                that we expect to see by chance, i.e. smaller values indicate 'better' hits.
            </p></div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-md-3'>
                {{ sform.blast_for_seq(class='btn btn-primary', id='blast_for_seq') }}
                &nbsp;&nbsp;
                <input type='button' class='btn btn-primary' id='clear_all' value='Clear'/>
            </div>
            <div class='col-md-9'>
                <p>
                    <b>Tip: </b>You may have to <b>scroll down and wait</b> for results to load.
                    Then tick a checkbox to (de)select a row, toggle +/- symbols to show/hide sequences,
                    and click bottom <i>Show Bioatlas records</i> button to show occurrences of selected ASV:s in the Bioatlas.
                    You can also download search results as Excel/CSV, and use <i>taxonID</i> column to link these to Bioatlas records.
                </p>
            </div>
        </div>
    </form>
</div>


{% if rform %}
<div class='container' id='result'>
    <form action={{ rform.batch_url }} method='post' id='rform' name='rform'>
        {{ rform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <hr>
                <table id='blast_result_table' class='table'>
                    <thead>
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>taxonID (Bioatlas link)</th>
                            <th>Query</th>
                            <th>Subject</th>
                            <th>Id (%)</th>
                            <th>Cov (%)</th>
                            <th>E-value</th>
                            <th>Subject sequence</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% include "sbdi_post.html" %}
    </form>
</div>
{% endif %}

{% endblock body %}
