{% extends "layout.html" %}

{% block title %}
Download data
{% endblock title %}

{% block body %}
<div class='container'>
    <div>
        <h1>Download data</h1>
        <p>Until the Bioatlas includes extension data (e.g. contextual/sequencing metadata)
            in record downloads, we provide download of full Darwin Core Archives (DwCAs),
            from the <a href="{{ ipt_base_url }}" rel="noreferrer noopener"> Integrated Publishing Toolkit (IPT)</a>, here.
        </p>

    {% if rform %}
        <form action='' method='post' id='rform' name='rform'>
            {{ rform.csrf_token }}
            <div class='row'>
                <div class='col-md-12'>
                    <hr>
                    <table id='dataset_table' class='table'>
                        <thead>
                            <tr>
                                <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                                <th>Target gene</th>
                                <th>Institution</th>
                                <th>Dataset name</th>
                                <th>IPT resource ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 visHlpDiv hiddenElem' id='dtbl_err_container'>Dummy</div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-12'>
                     {{ rform.download(class='btn btn-primary', value='Download') }}
                </div>
            </div>
        </form>
    </div>
    {% endif %}

    {% endblock body %}
