{% extends "layout.html" %}

{% block title %}
Download data
{% endblock title %}


{% block body %}
<div class='container'>
    <div>
        <h1>Download data</h1>
        <table id='dataset_table' class='table table-striped'>
            <thead>
                <tr>
                    <th>Dataset to download</th>
                    <th>Institution code</th>
                    <th>Target gene</th>
                </tr>
            </thead>
    
                {% if datasets %}
                {% for d in datasets %}
    
                <tr>
                    <td><a href="{{ ipt_base_url }}/archive.do?r={{ d.ipt_resource_id }}">{{ d.dataset_name }}</a></td>
                    <td>{{ d.institution_code }}</td>
                    <td>{{ d.annotation_target }}</td>
                </tr>

                {% endfor %}
                {% endif %}
        </table>
        <hr>
        <p>Contact <a href="{{ atlas_contact_page }}">SBDI support</a>, if you have any questions about data download.
    </div>
    
</p>
</div>
{% endblock body %}
