{% extends "layout.html" %}

{% block title %}
Error
{% endblock title %}

{% block body %}
<div class='container'>
    <div>
        <br>
        <h2>{{name}}</h2>
        <p>{{description}}
        <!-- The administrator has been notified. Sorry for the inconvenience!-->
        </p>
        <p><a href="{{ url_for('main_bp.index') }}">Go to Start page</a></p>
        {% if not drop_contact %}
            <p><a href="{{ sbdi_contact_page }}">Contact SBDI support</a></p>
        {% endif %}

    </div>
</div>
{% endblock body %}
