{% extends "layout.html" %}
{% block body %}
<div class='container'>
    <div>
        <br>
        <h1>Filter ASVs and Bioatlas records</h1>
        <br>
        <p>Find Amplicon Sequence Variants (ASVs) and associated Bioatlas
           occurrence records using filter search. Selected filters are combined with logical AND,
           and limit available options in remaining dropdowns.
       </p>
       <hr>
    </div>
    <form action='' method='post' id='sform' name='sform' class='search_function' >
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-3'>
                <p><i>Sequencing details</i></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <p><b>Target gene</b></p>
                {{ sform.gene(id='gene', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Target subregion</b><p>
                {{ sform.sub(id='sub', class='form-control select2') }}
            </div>

        </div>
        <br>
        <div class='row'>
            <div class='col-md-6'>
                <p><b>Forward primer</b></p>
                {{ sform.fw_prim(id='fw_prim', class='form-control select2') }}
            </div>
            <div class='col-md-6'>
                <p><b>Reverse primer</b></p>
                {{ sform.rv_prim(id='rv_prim', class='form-control select2') }}
            </div>
        </div>
        <br>
        <hr>
        <div class='row'>
            <div class='col-md-3'>
                <p><i>Taxonomy</i></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <p><b>Kingdom</b></p>
                {{ sform.kingdom(id='kingdom', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Phylum</b></p>
                {{ sform.phylum(id='phylum', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Class</b></p>
                {{ sform.classs(id='classs', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Order</b></p>
                {{ sform.oorder(id='oorder', class='form-control select2') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-3'>
                <p><b>Family</b></p>
                {{ sform.family(id='family', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Genus</b></p>
                {{ sform.genus(id='genus', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <p><b>Specific epithet</b></p>
                {{ sform.species(id='species', class='form-control select2') }}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
               <br>Read more about taxonomy in the ASV database, and in the Bioatlas,
              <a href="https://biodiversitydata-se.github.io/mol-data/std-taxon-annotation">here</a>.
            </div>
       </div>
        <br>
        <hr>
        <div class='row'>
            <div class='col-md-1'>
                {{ sform.filter_asvs(class='btn btn-primary', id='filter_asvs') }}
            </div>
            <div class='col-md-1'>
                <button type='button' class='btn btn-default' id='clear_all'>Clear all</button>
            </div>
            <div class='col-md-10'>
                You may have to scroll down to see results.
                When they have finished loading, tick left column to (de)select a row,
                and click bottom button to show occurrence records of selected ASV:s in Bioatlas.
                You can also download results as Excel/CSV, and link these to Bioatlas records via <i>taxonID</i> column.
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-12 visHlpDiv' id='filt_err_container'></div>
        </div>

    </form>
</div>
<br>
<br>
{% if rform %}
<div class='container' id='result'>
    <form action={{ rform.batch_url }} method='post' id='rform' name='rform'>
        {{ rform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <table id='filter_result_table' class='dataframe table table-striped'>
                    <thead>
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>taxonID (Bioatlas link)</th>
                            <th>ASV</th>
                            <th>Gene</th>
                            <th>Fragment</th>
                            <th>Fw primer</th>
                            <th>Rv primer</th>
                            <th>ASV sequence</th>
                            <th>Forward primer sequence</th>
                            <th>Reverse primer sequence</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% include "sbdi_post.html" %}
    </form>
</div>
{% endif %}

{% endblock body %}
