<footer class="site-footer" id="site-footer">
  <div class="footer-main footer--row layout-full-contained" id="cb-row--footer-main" data-row-id="main"
    data-show-on="desktop mobile">
    <div class="footer--row-inner footer-main-inner dark-mode">
      <div class="customify-container">
        <div class="customify-grid  customify-grid-top">
          <div class="customify-col-3_md-3_sm-6_xs-12 builder-item builder-first--footer-1" data-push-left="_sm-0">
            <div class="item--inner builder-item--footer-1" data-section="sidebar-widgets-footer-1"
              data-item-id="footer-1">
              <div class="widget-area">
                <section id="nav_menu-7" class="widget widget_nav_menu">
                  <h4 class="widget-title">Who we are</h4>
                  <div class="menu-who-we-are-container">
                    <ul id="menu-who-we-are" class="menu">
                      <li id="menu-item-149"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-149"><a target="_new"
                          href="https://biodiversitydata.se/about-us/who-we-are/contact-us/">Contact us</a></li>
                      <li id="menu-item-147"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147"><a target="_new"
                          href="https://biodiversitydata.se/about-us/who-we-are/sbdi-executive-office/">SBDI Executive
                          Office</a></li>
                      <li id="menu-item-148"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a target="_new"
                          href="https://biodiversitydata.se/about-us/who-we-are/sbdi-consortium-partners/">SBDI
                          Consortium Partners</a></li>
                      <li id="menu-item-602"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602"><a target="_new"
                          href="https://biodiversitydata.se/about-us/who-we-are/sbdi-governance/">SBDI Governance</a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="customify-col-3_md-3_sm-6_xs-12 builder-item builder-first--footer-2" data-push-left="_sm-0">
            <div class="item--inner builder-item--footer-2" data-section="sidebar-widgets-footer-2"
              data-item-id="footer-2">
              <div class="widget-area">
                <section id="nav_menu-5" class="widget widget_nav_menu">
                  <h4 class="widget-title">What we do</h4>
                  <div class="menu-what-we-do-container">
                    <ul id="menu-what-we-do" class="menu">
                      <li id="menu-item-141"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141"><a target="_new"
                          href="https://biodiversitydata.se/about-us/what-we-do/history/">History</a></li>
                      <li id="menu-item-142"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"><a target="_new"
                          href="https://biodiversitydata.se/about-us/what-we-do/strategic-plan/">Strategic plan</a></li>
                      <li id="menu-item-144"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a target="_new"
                          href="https://biodiversitydata.se/about-us/what-we-do/vision/">Vision</a></li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="customify-col-3_md-3_sm-6_xs-12 builder-item builder-first--footer-3" data-push-left="_sm-0">
            <div class="item--inner builder-item--footer-3" data-section="sidebar-widgets-footer-3"
              data-item-id="footer-3">
              <div class="widget-area">
                <section id="nav_menu-6" class="widget widget_nav_menu">
                  <h4 class="widget-title">Where we are</h4>
                  <div class="menu-where-we-are-container">
                    <ul id="menu-where-we-are" class="menu">
                      <li id="menu-item-146"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146"><a target="_new"
                          href="https://biodiversitydata.se/about-us/where-we-are/sweden/">Sweden</a></li>
                      <li id="menu-item-603"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a target="_new"
                          href="https://biodiversitydata.se/about-us/where-we-are/the-living-atlases-community/">The
                          Living Atlases Community</a></li>
                      <li id="menu-item-145"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a target="_new"
                          href="https://biodiversitydata.se/about-us/where-we-are/global-gbif/">The GBIF network</a>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="customify-col-3_md-3_sm-6_xs-12 builder-item builder-first--footer-4" data-push-left="_sm-0">
            <div class="item--inner builder-item--footer-4" data-section="sidebar-widgets-footer-4"
              data-item-id="footer-4">
              <div class="widget-area">
                <section id="nav_menu-9" class="widget widget_nav_menu">
                  <h4 class="widget-title">Information</h4>
                  <div class="menu-information-container">
                    <ul id="menu-information" class="menu">
                      <li id="menu-item-597"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-597"><a target="_new"
                          href="https://biodiversitydata.se/our-apis/">Our API:s</a></li>
                      <li id="menu-item-598"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-598"><a target="_new"
                          href="https://biodiversitydata.se/accessability/">Accessability</a></li>
                      <li id="menu-item-599"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-599">
                        <a target="_new" href="https://biodiversitydata.se/privacy-policy/">Privacy Policy</a></li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom footer--row layout-full-contained" id="cb-row--footer-bottom" data-row-id="bottom"
    data-show-on="desktop mobile">
    <div class="footer--row-inner footer-bottom-inner dark-mode">
      <div class="customify-container">
        <div class="customify-grid  customify-grid-top">
          <div class="customify-col-12_md-12_sm-12_xs-12 builder-item builder-first--footer_copyright"
            data-push-left="_sm-0">
            <div class="item--inner builder-item--footer_copyright" data-section="footer_copyright"
              data-item-id="footer_copyright">
              <div class="builder-footer-copyright-item footer-copyright">
                <span class="text-muted">&copy; 2020-<span id="footer-copyright">
                    <script>
                      document
                        .getElementById("footer-copyright")
                        .appendChild(document.createTextNode(new Date().getFullYear()));
                    </script>
                  </span> </span><span class="text-muted" data-i18n="general.orgfullname"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
