{% extends "layout.html" %}

{% block title %}
Start
{% endblock title %}

{% block body %}
<div class="jumbotron welcome">
    <div class="container">
        <div class="col-md-8">
            <h1>Swedish ASV portal</h1>
            <h3 class="subject-subtitle">
                Welcome to the portal of Swedish Amplicon Sequence Variants (ASVs)
               - an interface to sequence-based observations in SBDI
           </h3>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='img/dna.png') }}"
                 title="ASV portal logo (DNA double helix)" height="200" width="200"
                 class="center-block">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>
                Search for ASVs and Bioatlas records using Basic Local Alignment Search Tool (BLAST)<br><br>
                <a class="btn btn-primary" id=blast_link href="{{ url_for('blast_bp.blast') }}" role="button">BLAST</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                Search for ASVs and Bioatlas records using filters on sequencing details and taxonomy<br><br>
                <a class="btn btn-primary"  id=filter_link href="{{ url_for('filter_bp.filter') }}" role="button">Filter</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                Submit your metabarcoding dataset to the ASV database and SBDI Bioatlas<br><br>
                <a class="btn btn-primary"  id=submit_link href="{{ url_for('main_bp.submit') }}" role="button">Submit</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                Download datasets (DwCAs) <br><br><br><br>
                <a class="btn btn-primary"  id=submit_link href="{{ url_for('main_bp.download') }}" role="button">Download</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
