{% extends "layout.html" %}

{% block title %}
Start
{% endblock title %}

{% block body %}
<div class="jumbotron welcome">
    <div class="container">
        <h1>Swedish ASV portal</h1>
        <h3 class="subject-subtitle">Welcome to the portal of Swedish Amplicon Sequence Variants (ASVs)
   <br> - an interface to sequence-based observations in SBDI</h3>
      </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Search for ASVs and Bioatlas records using<br>Basic Local Alignment Search Tool (BLAST)
            </p>
            <a class="btn btn-primary" id=blast_link href="{{ url_for('blast_bp.blast') }}" role="button">BLAST</a>
        </div>
        <div class="col-md-4">
            <p>Search for ASVs and Bioatlas records using<br>filters on sequencing details and taxonomy
            </p>
            <p><a class="btn btn-primary"  id=filter_link href="{{ url_for('filter_bp.filter') }}" role="button">FILTER</a></p>
        </div>
        <div class="col-md-4">
            <p>Submit your metabarcoding dataset<br>to the ASV database and Bioatlas
            </p>
            <p><a class="btn btn-primary"  id=submit_link href="{{ url_for('main_bp.submit') }}" role="button">SUBMIT</a></p>
        </div>
    </div>
</div>
{% endblock body %}
