<!doctype html>
<html lang="en">
<head>
    <title>SBDI-ASV-DB</title>
    <meta charset="utf-8">
    <!-- Adjust visible area to screen (rather than zoom out to fit) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Interface to sequence based observations in SBDI Bioatlas">

    <link href="/static/css/roboto.css" rel="stylesheet" type="text/css" />

    <link rel="preload" as="font" href="/static/webfonts/roboto-400-normal.woff2" type="font/woff2" crossorigin/>
    <link rel="preload" as="font" href="/static/webfonts/roboto-700-normal.woff2" type="font/woff2" crossorigin />
    <link rel="preload" as="font" href="/static/webfonts/roboto-100-normal.woff2" type="font/woff2" crossorigin />
    <link rel="preload" as="font" href="/static/webfonts/roboto-400-italic.woff2" type="font/woff2" crossorigin />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}">

    <!-- Custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ala-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <script>
        var page = '{{ request.path }}';
        var sbdiContactPage = '{{ sbdi_contact_page }}';
        var maxFileSize = '{{ max_file_size }}';
        var validExtensions = '{{ valid_extensions }}';
    </script>
</head>
<body>
    {% include "banner.html" %}
    <div class="main-content">
        {% block body %}
        {% endblock body %}
    </div>
    {% include ['footer.html'] ignore missing %}
    <!-- Bootstrap, jQuery, DataTables w. Select & button ext -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>
    <!-- Custom -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
