{% extends 'layout.html' %}

{% block title %}
Upload file
{% endblock title %}

{% block body %}
<div class='container'>
    <div>
        <h1>Upload data to the ASV database</h1>
        <p>Select an Excel (xlsx) or compressed archive file (xlsx.zip, tar.gz, tar.bz2 och tar.lz), with a maximum size of {{ "{:.0f}".format(max_file_size/(1024*1024)) }} MB.
       </p>
    </div>
    <form method='post' id='uform' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <!-- Actual upload, which is hidden -->
                {{ form.file(id='file') }}
                <!-- Custom upload button -->
                <label for="file" class='btn btn-default' id='file_label'>Select</label>
                <!-- Name of selected file -->
                <span id="file-shown">No file selected</span>
                {{ form.submit(class='btn btn-primary', value='Upload') }}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12 visHlpDiv' id='upload_err_container'>
                <!-- Validation errors -->
                {% if form and form.file.errors %}
                    {% for error in form.file.errors %}
                       {{ error }}
                    {% endfor %}
                {% endif %}
                <!-- Upload errors -->
                {% if upload_error %}
                    Sorry, something unexpected happened during file upload.
                    Please <u><a contact href="{{ sbdi_contact_page }}">contact SBDI support</a></u>
                    if this error persists.
                {% endif %}
            </div>
        </div>
    </form>
</div>
<br>
<br>


{% endblock body %}
