{% extends 'layout.html' %}
{% block body %}
<div class='container'>
    <div>
        <br>
        <h3>Upload data to the ASV database</h3>
        <br>
        <p>Select an Excel or compressed archive file to submit.
       </p>
    </div>
    <form method='post' id='form' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                {% if form and form.file.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        <!-- actual upload, which is hidden -->
                        {{ form.file(id='file') }}
                        <!-- custom upload button -->
                        <label for="file" class='btn btn-default'>Select</label>
                        <!-- name of selected file -->
                        <span id="file-shown">No file selected</span>
                        {{ form.submit(class='btn btn-primary', value='Upload') }}
                        <br>
                        <br>
                        <span class='help-block'>
                            {% for error in form.file.errors %}
                               {{ error }}
                            {% endfor %}
                            {% if upload_error %}
                                <p>
                                Sorry, something unexpected happened during file upload.
                                Please contact <a href="{{ sbdi_contact_page }}">SBDI support</a>
                                if this error persists.
                                </p>
                            {% endif %}
                        </span>
                    </div>
            </div>
        </div>
    </form>
</div>
<br>
<br>


{% endblock body %}
