/* Bypass cache in Chrome/Mac: shift + cmd + r */

body {
    padding-top: 50px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
    padding: 15px 15px;
    /* color: red */
}
/* Query */
#result_table td:nth-child(1) {
    word-wrap: break-word;
    /* min-width: 100px; */
    max-width: 100px;
 }
/* Subject */
#result_table td:nth-child(2) {
 word-wrap: break-word;
 /* min-width: 500px; */
 max-width: 400px;
}
