{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form action="" method="post" id='sform' name="sform" class="search_function">
        {{ sform.csrf_token }}
        <div class="row">
            <div class="col-md-12">
                {% if sform.sequence.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        <h4>Sequence</h4>
                        <label for="sequence_count" class='control-label'>
                            <span id='sequence_count'>419</span>/15000 characters
                        </label>
                        {{ sform.sequence(id='sequence_textarea', rows=7, cols=81, maxlength="15000", class='form-control') }}
                        <span id="helpBlock2" class="help-block">
                            {% for error in sform.sequence.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Minimum identity (%)</h4>
                {% if sform.min_identity.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        {{ sform.min_identity(id="min_identity_input", class="form-control", type="number") }}
                        <span class="help-block">
                            {% for error in sform.min_identity.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
                <br>
            </div>
            <div class="col-md-4">
                <h4>Minimum alignment length</h4>
                {% if sform.min_aln_length.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        {{ sform.min_aln_length(id="min_aln_length_input", class="form-control", type="number") }}
                        <span class="help-block">
                            {% for error in sform.min_aln_length.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ sform.blast_for_seq(class='btn btn-primary', id='blast_for_seq') }}
            </div>
        </div>
    </form>
</div>
<br>
<br>

{% if rform %}
<!-- Keep separate & use for download  -->
<div class="container" id="result">
    <form action="" method="post" id='rform' name="rform">
        {{ rform.csrf_token }}
        <div class="row">
            <div class="col-md-12">
                <table border="1" class="dataframe table table-striped">
                    <thead>
                        <tr>
                          <th>Query</th>
                          <th>Subject</th>
                          <th>Identity (%)</th>
                          <th>Alignment length</th>
                          <th>E-value</th>
                          <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in rdf.iterrows() %}
                        <tr>
                            <td>{{ row['qacc'] }}</td>
                            {% autoescape false %}
                            <td>{{ row['sacc'] | replace(':', '<br>') }}</td>
                            {% endautoescape %}
                            <td>{{ row['pident'] }}</td>
                            <td>{{ row['length'] }}</td>
                            <td>{{ row['evalue'] }}</td>
                            <td>{{ rform.asvid(id=row['asvid'], value=row['asvid']) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <!-- Bulk taxon search form copied from SBDI  -->
    <form name="taxaUploadForm" id="taxaUploadForm"
        action="http://molecular.infrabas.se/biocache-service/occurrences/batchSearch" method="POST">
        <textarea name="queries" id="raw_names" style="display: none"></textarea>
        <input type="hidden" name="redirectBase"
            value="http://molecular.infrabas.se/ala-hub/occurrences/search">
        <input type="hidden" name="field" value="raw_name"/>
        <input type="hidden" name="action" value="Search"/>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Show occurrences" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
{% endif %}


<script type=text/javascript>
$(document).ready(function () {
    // Get input seq length
    $("#sequence_textarea").bind('input', function(){
        $("#sequence_count").text($(this).val().length);
    });

    // Add checked ASVs to hidden textarea for POST to SBDI
    $("#result :checkbox").change(function () {
        var text = $("#result :checked").map(function () {
            return this.value;
        }).get().join("\n");
        $("#raw_names").val(text);
    });
});
</script>
{% endblock body %}
