{% extends 'layout.html' %}
{% block body %}
<div class='container'>
    <form action='' method='post' id='sform' name='sform' class='search_function'>
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                {% if sform.sequence.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        <h5><b>Query sequence(s) </b>
                            <span id='sequence_count'>2108</span>/500000 characters</h5>
                        {{ sform.sequence(id='sequence_textarea', rows=8, cols=80, maxlength='500000', class='form-control') }}
                        <span id='helpBlock2' class='help-block'>
                            {% for error in sform.sequence.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <h5><b>Minimum identity (%)</b></h5>
                {% if sform.min_identity.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.min_identity(id='min_identity_input', class='form-control', type='number') }}
                        <span class='help-block'>
                            {% for error in sform.min_identity.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
            <div class='col-md-3'>
                <h5><b>Minimum query coverage (%)</b></h5>
                {% if sform.min_qry_cover.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.min_qry_cover(id='min_qry_cover', class='form-control', type='number') }}
                        <span class='help-block'>
                            {% for error in sform.min_qry_cover.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
                {{ sform.blast_for_seq(class='btn btn-primary', id='blast_for_seq') }}
            </div>
        </div>
    </form>
</div>
<br>
<br>

{% if rform %}
<div class='container' id='result'>
    <form action='http://molecular.infrabas.se/biocache-service/occurrences/batchSearch'
          method='post' id='rform' name='rform'>
        {{ rform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <table id='result_table' class='dataframe table table-striped'>
                    <thead>
                        <tr>
                            <th>Query</th>
                            <th>Subject</th>
                            <th>Id (%)</th>
                            <th>Cov (%)</th>
                            <th>E-value</th>
                            <th><input type='checkbox' id='select_all' /></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, row in rdf.iterrows() %}
                        <tr>
                            <td>{{ row['qacc'] }}</td>
                            <td>{{ row['sacc'].split(':')[0] + '\n'
                                + row['sacc'].split(':')[1] }}</td>
                            <td>{{ row['pident'] }}</td>
                            <td>{{ row['qcovhsp'] }}</td>
                            <td>{{ row['evalue'] }}</td>
                            <td>{{ rform.asv_id(id=row['asv_id'], class='asv_id') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <!-- Hidden part, for redirection to SBDI -->
        <div class='row'>
            <textarea name='queries' id='raw_names' style='display: none'></textarea>
            <!-- Make visible for testing: -->
            <!-- <textarea name='queries' id='raw_names' rows=4, cols=40></textarea> -->
            <input type='hidden' name='redirectBase'
                value='http://molecular.infrabas.se/ala-hub/occurrences/search'>
            <input type='hidden' name='field' value='raw_name'/>
            <input type='hidden' name='action' value='Search'/>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-2'>
                <input id='show_occurrences' name='show_occurrences' type='submit' value='Show occurrences' class='btn btn-primary'/>
            </div>
            <div class='col-md-10' style='display:none' id='selection_error'>Please select at least one BLAST hit</div>
        </div>
    </form>
</div>
{% endif %}

<script>
$(document).ready(function () {

    // Get input seq length for display
    $('#sequence_textarea').bind('input', function(){
        $('#sequence_count').text($(this).val().length);
    });

    var sbdiArea = $('#raw_names');
    var eBox = $('#selection_error');

    // Convert reasults to jQuery dataTable
    var dTb = $('#result_table').dataTable({
        // Modify layout of dataTable components:
        // l=Show.., f=Search, tr=table, i=Showing.., p=pagination
        dom: "<'row'<'col-md-4'l><'col-md-8'f>>" +
        "<'row'<'col-md-12't>>" +
        "<'row'<'col-md-3'B><'col-md-3'i><'col-md-6'p>>",
        stateSave: true,
        // Add download buttons
        buttons: [
            { extend: 'csv',
                exportOptions: { rows: '.selectedRow'},
                action: function ( e, dt, node, config ) {
                    // Warn & stop if no selection
                    if ($('.selectedRow').length == 0) {
                        return alertNoSelection('result_table', 6, eBox);
                    }
                    $.fn.DataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                }
            },
            { extend: 'excel',
                exportOptions: { rows: '.selectedRow'},
                action: function ( e, dt, node, config ) {
                    // Warn & stop if no selection
                    if ($('.selectedRow').length == 0) {
                        return alertNoSelection('result_table', 6, eBox);
                    }
                    $.fn.DataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                }
            }
        ],
        // Disable sort on select col - as it does not work
        'columnDefs': [
            { 'orderable': false, 'targets': 5 }
        ]
    });
    // Enable access to items in all pages
    var allPages = dTb.fnGetNodes();
    var asvBoxes = $('.asv_id', allPages);


    // When any ASV checkbox is changed
    asvBoxes.change(function () {
        // Toggle download selection
        $(this).closest('tr').toggleClass("selectedRow", this.checked);
    });

    // When header checkbox is changed
    $('#select_all').change(function () {
        // Toggle all ASV checkboxes
        asvBoxes.prop('checked', this.checked);
        // Toggle download selection
        asvBoxes.closest('tr').toggleClass('selectedRow', this.checked);
    });

    // At SBDI submit
    $('#rform').submit(function() {
        // Copy ASV ids to hidden area
        addCheckedToArea(asvBoxes, sbdiArea);
        // Warn & stop if no selection
        if (!sbdiArea.val()) {
            return alertNoSelection('result_table', 6, eBox);
        }
    });

});
</script>
{% endblock body %}
