{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Swedish ASV database</h1>
        <p>Welcome to the database of Swedish Amplicon Sequence Variants (ASVs)
            <br> - an interface to sequence-based observations in the SBDI Bioatlas platform
        </p>
    </div>
</div>

{% if error_page %}
<div class="col-md-12" style="color: #aa4442"><p>SORRY, page {{ error_page }} does not exist!</p></div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Find ASVs and occurrences<br>using sequence alignment
            </p>
            <p><a class="btn btn-primary" id=link_to_blast href="{{ url_for('main_bp.blast') }}" role="button">BLAST sequence(s)</a></p>
        </div>
        <div class="col-md-4">
            <p>Find ASVs and occurrences<br>matching certain criteria
            </p>
            <p><a class="btn btn-primary"  id=link_to_functional href="{{ url_for('main_bp.api_search') }}" role="button">Search metadata</a></p>
        </div>
    </div>
</div>
{% endblock body %}
