{% extends "layout.html" %}
{% block body %}

<div class='container'>
    <form action='' method='post' id='sform' name='sform' class='search_function'>
        {{ sform.csrf_token }}
        <br>
        <br>
        <div class='row'>
            <div class='col-md-5'>
                <select name='fw_prim_sel' id='fw_prim_sel' class='form-control' multiple='multiple'></select>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-5'>
                <textarea name='queries' id='raw_names' rows=4, cols=40></textarea> 
            </div>
        </div>

        <br>
        <div class='row'>
            <div class='col-md-2'>
                <input id='search_api' name='search_api' type='submit' value='Search' class='btn btn-primary'/>
            </div>
        </div>
    </form>
</div>
<br>
<br>

<script>
    $(document).ready(function () {

        $.fn.select2.defaults.set("theme", "bootstrap");
        var fw_prim = {{ fw_prim | safe }};
        var fw_prim_sel = {{ fw_prim_sel | safe }};

        $('#fw_prim_sel').select2({
            placeholder: 'Select forward primer(s)',
            data: fw_prim
        });
        $('#fw_prim_sel').val(fw_prim_sel);
        $('#fw_prim_sel').trigger('change');

    });


</script>

{% endblock body %}
