{% extends "layout.html" %}
{% block body %}

<div class='container'>
    <br>
    <form action='' method='post' id='sform' name='sform' class='search_function' >
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-6'>
                {{ sform.gene_sel(id='gene_sel', class='form-control') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-6'>
                {{ sform.fw_prim_sel(id='fw_prim_sel', class='form-control') }}
            </div>
            <div class='col-md-6'>
                {{ sform.rv_prim_sel(id='rv_prim_sel', class='form-control') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-2'>
                {{ sform.search_for_asv(class='btn btn-primary', id='search_for_asv') }}
            </div>
        </div>
    </form>
</div>
<br>
<br>

<script>
    $(document).ready(function () {

        $.fn.select2.defaults.set("theme", "bootstrap");

        var geneSelS2 = $('#gene_sel').select2({
            placeholder: 'Select target gene(s)'
        });
        var fwSelS2 = $('#fw_prim_sel').select2({
            placeholder: 'Select forward primer(s)'
        });
        var rvSelS2 = $('#rv_prim_sel').select2({
            placeholder: 'Select reverse primer(s)'
        });

        function filterGenSelect(dir) {
            var gene = geneSelS2.val();
            // If no selected gene, get all primers
            if (gene.length === 0) {gene = 'all'}
           // Make Ajax Request and expect JSON-encoded data
           $.getJSON(
               '/get_primers' + '/' + gene + '/' + dir,
               function(data) {
                   // Save selection
                   currSel = fwSelS2.val();
                   // Remove old options
                   fwSelS2.find('option').remove();
                   $.each(data, function(i,e) {
                       fwSelS2.append('<option value="' + e.name + '">' + e.display + '</option>');
                   });
                   // Reapply selection
                   fwSelS2.val(currSel);
               }
            );
        };

        filterGenSelect('fw');

        geneSelS2.change(function () {
            filterGenSelect('fw');
        });

        // fwSelS2.on("change", function(){
        //     alert($(this).val());
        // });
});



</script>

{% endblock body %}
