{% extends "layout.html" %}
{% block body %}

<div class='container'>
    <br>
    <form action='' method='post' id='sform' name='sform' class='search_function' >
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-6'>
                {{ sform.gene_sel(id='gene_sel', class='form-control') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-6'>
                {{ sform.fw_prim_sel(id='fw_prim_sel', class='form-control') }}
            </div>
            <div class='col-md-6'>
                {{ sform.rv_prim_sel(id='rv_prim_sel', class='form-control') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-2'>
                {{ sform.search_for_asv(class='btn btn-primary', id='search_for_asv') }}
            </div>
        </div>
    </form>
</div>
<br>
<br>

<script>
    $(document).ready(function () {

        $.fn.select2.defaults.set("theme", "bootstrap");

        var geneSelS2 = $('#gene_sel').select2({
            placeholder: 'Select target gene(s)'
        });
        var fwSelS2 = $('#fw_prim_sel').select2({
            placeholder: 'Select forward primer(s)'
        });
        var rvSelS2 = $('#rv_prim_sel').select2({
            placeholder: 'Select reverse primer(s)'
        });

        function filterPrimerOptions (dir) {
            var gene = geneSelS2.val();
            if (dir === 'fw') { var primDrop = fwSelS2; }
            else { var primDrop = rvSelS2; }
            // If no selected gene, get all primers
            if (gene.length === 0) { gene = 'all'; }
            // Make Ajax Request and expect JSON-encoded data
            $.getJSON(
                '/get_primers' + '/' + gene + '/' + dir,
                function(data) {
                    // Save selection
                    currSel = primDrop.val();
                    // Remove old options
                    primDrop.find('option').remove();
                    $.each(data, function(i,e) {
                        primDrop.append('<option value="' + e.name + '">' + e.display + '</option>');
                    });
                    // Reapply selection
                    primDrop.val(currSel);
                }
            );
        };
        // Filter primer options on pre-submission gene selection - on reload
        filterPrimerOptions('fw');
        filterPrimerOptions('rv');

        // Filter primer options when genes are selected
        geneSelS2.change(function () {
            filterPrimerOptions('fw');
            filterPrimerOptions('rv');
        });

});



</script>

{% endblock body %}
