/*
Bypass cache in Chrome/Mac: shift + cmd + r
CSS class selector: .xxx, id selector: #xxx
*/

/* GENERAL */
.main-content {
    padding: 15px 15px;
}
/* Make header smaller */
h2 {
    font-size: 22px !important;
}
/* Underline links but when not hovered */
.container a:not(.btn), .visHlpDiv a {
    text-decoration: underline !important;
}
.container a:hover, .visHlpDiv a:hover {
    text-decoration: none !important;
}
/* Increase font size */
.main-content p, th, td, .dataTables_info, .help-block, li, #file-shown {
    font-size: 16px !important;
}

/* FORMS */
/* Hide forms (until styled) */
#rform, #sform {
    visibility: hidden;
}
/* BLAST form validation errors */
.help-block {
    color: #c44d34;
}

/* RESULT TABLES */
/* Query (user sequence ID) col */
.qacc {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Subject / ASV col (also for child rows)*/
.asv,.child{
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
/* +/- symbols for expandable seqs */
td.details-control {
    background: url('../img/details_open.png') no-repeat top 13px right 10px !important;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat top 13px right 10px !important;
}
/* Restore lost arrow for 'Show x entries' */
select.form-control.input-sm {
    -webkit-appearance: menulist !important;
}
/* Restore striped table look */
/* Odd rows */
.table tr:nth-child(odd) td,
.table tr th,
/* Use same look for form input fields */
.form-control {
    color: #4c4c4c !important;
    background-color: white !important;
}
/* Even rows */
.table tr:nth-child(even) td {
    color: #4c4c4c !important;
    background-color: #f9f9f9 !important;
}
/* Selected rows */
.table tr.selected:nth-child(odd) td,
.table tr.selected:nth-child(even) td {
    color: black !important;
    background-color: #bed9e5 !important;
}

/* HELP */
/* Empty SBDI post requests, table/dropdown loading errors etc.*/
/* Hide by default */
.hiddenElem {
    visibility: hidden;
}
/* Highlight table checkbox column in pink */
.table tr td:first-child.visHlpElem {
    background-color: #f8dbd3 !important;
}
/* ... and show help msg in red */
.visHlpDiv, .visHlpDiv a {
    text-align: left;
    color: #c44d34;
    visibility: visible;
    font-size: 16px !important;
}

/* FILE UPLOAD */
/* Hide actual browse button (replace with label below)*/
#file {
    visibility: hidden;
}
#file-shown {
  padding: 10px;
  display: inline-block;
  width: 400px;
}

/* BUTTONS (and fake buttons) */
#blast_for_seq,
#clear_all,
#filter_asvs,
#show_occurrences,
#submit,
#blast_link,
#filter_link,
#submit_link,
#file_label {
    border-radius: 4px;
    padding: 0px 18.2px;
    line-height: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
}
