/*
Bypass cache in Chrome/Mac: shift + cmd + r
CSS class selector: .xxx, id selector: #xxx
*/

/* GENERAL */

/* P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 85%
} */
.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #c44d34;
}

/* FORMS */
#rform, #sform {
    visibility: hidden;
}

/* RESULT TABLES */
/* Query (user sequence ID) col */
.qacc {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Subject / ASV col (also for child rows)*/
.asv,.child{
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
/* Expandable seqs */
td.details-control {
    background: url('../img/details_open.png') no-repeat top 13px right 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat top 13px right 10px;
/* Show ... entries */
select.form-control.input-sm {
    /* Restore arrow lost with SBDI-CSS */
    -webkit-appearance: menulist !important;
}
/* Override ALA for selected table rows */
.table-striped>tbody>tr.selected:nth-child(odd)>td,
.table-striped>tbody>tr.selected:nth-child(even)>td {
    color: black !important;
    background-color: #bed9e5 !important;
}
/* HELP */
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f8dbd3 !important;
}
.visHlpDiv {
    display: block;
    text-align: left;
    color: #c44d34;
}
.scroll-note {
    color: #c44d34;
}
/* FILE UPLOAD */
#file {
    visibility: hidden;
}
#file-shown {
  padding: 10px;
  display: inline-block;
  width: 400px;
}
