/* Bypass cache in Chrome/Mac: shift + cmd + r */

/* GENERAL */

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #aa4442;
}

/* FORMS */
#rform, #sform {
    visibility: hidden;
}

/* RESULT TABLES */
/* Query (user sequence ID) col */
.qacc {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Subject / ASV col (also for child rows)*/
.asv,.child{
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
/* Expandable seqs */
td.details-control {
    background: url('img/details_open.png') no-repeat top 13px right 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('img/details_close.png') no-repeat top 13px right 10px;
}

/* HELP */
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f2e4e4;
}
.visHlpDiv {
    display: block;
    text-align: right;
    color: #aa4442;
}
