/* Bypass cache in Chrome/Mac: shift + cmd + r */

/* GENERAL */

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #aa4442;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 85%
}

/* FORMS */
#rform, #sform {
    visibility: hidden;
}

#filter_link, #filter_asvs {
    padding-left: 18px;
    padding-right: 18px;
}

/* RESULT TABLES */
/* Query (user sequence ID) col */
.qacc {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Subject / ASV col (also for child rows)*/
.asv,.child{
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
/* Expandable seqs */
td.details-control {
    background: url('../img/details_open.png') no-repeat top 13px right 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat top 13px right 10px;
}
/* Override ALA for selected table rows */
.table-striped>tbody>tr.selected:nth-child(odd)>td,
.table-striped>tbody>tr.selected:nth-child(even)>td {
    color: black !important;
    background-color: #f8dbd3 !important;
}
/* HELP */
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f8dbd3 !important;
}
.visHlpDiv {
    display: block;
    text-align: left;
    color: #c44d34;
}
