/* This file contains custom CSS to complement, and override/fix problems in,
CSS files downloaded from ALA/Bioatlas, DataTables and Select2 sources
(see layout.html). You may need to empty cache in Chrome/Mac: 'shift + cmd + r'
for changes to take effect in dev environment.
Remember CSS class selector is: .xxx; id selector: #xxx */

/* GENERAL */
.main-content {
    padding: 15px 15px;
}
/* Make header smaller */
h2 {
    font-size: 22px !important;
}
/* Underline links but when not hovered */
.container a:not(.btn), .visHlpDiv a {
    text-decoration: underline !important;
}
.container a:hover, .visHlpDiv a:hover {
    text-decoration: none !important;
}
/* Increase font size */
.main-content p, th, td, .dataTables_info,
.help-block, li, #file-shown, figcaption {
    font-size: 16px !important;
}

/* FORMS */
/* Hide forms until Bootstrap/dataTables/Select2 styling is done (see main.js) */
#rform, #sform {
    visibility: hidden;
}
/* Colour BLAST form validation error messages */
.help-block {
    color: #c44d34;
}

/* RESULT TABLES */
/* Avoid colliding 'Showing x to y of z' with pagination box*/
.dataTables_paginate {
    float: right;
}

/* Adjust Query sequence ID column to better fit table on page */
.qacc {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Adjust Subject sequence column to better fit table on page (also affects
child rows containing actual sequences) */
.asv,.child{
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
/* Add +/- symbols for expandable seqs */
td.details-control {
    background: url('../img/details_open.png') no-repeat top 13px right 10px !important;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat top 13px right 10px !important;
}

/* ALL (DataTable) TABLES */
/* Restore lost arrow for 'Show x entries' */
select.form-control.input-sm {
    -webkit-appearance: menulist !important;
}
/* Restore striped table look */
.table tr th,
.table tr:nth-child(odd) td {
    color: #4c4c4c !important;
    background-color: white !important;
}
.table tr:nth-child(even) td {
    color: #4c4c4c !important;
    background-color: #f9f9f9 !important;
}
/* Change colour of selected rows */
.table tr.selected td {
    color: black !important;
    box-shadow:inset 0 0 0 9999px rgba(190, 217, 229, 0.5) !important;
}

/* DOWNLOAD TABLE */
/* Adjust name column to better fit table on page */
.ds {
    word-wrap: break-word;
    max-width: 500px;
    min-width: 500px;
}
.gene {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}


/* STATS TABLE */
/* Adjust columns to better fit table on page */
#top_ranks {
    word-wrap: break-word;
    max-width: 50px;
    min-width: 50px;
}
#stats_table td:nth-child(n+3) {
    text-align: center;
}

/* HELP */
/* Hide unless we get e.g. empty SBDI request or table/dropdown loading error */
.hiddenElem {
    visibility: hidden;
}
/* Highlight table checkbox column if user attempts request without selection */
.table tr td:first-child.visHlpElem {
    background-color: #f8dbd3 !important;
}
/* ... and show help msg in red */
.visHlpDiv, .visHlpDiv a {
    text-align: left;
    color: #c44d34;
    font-size: 16px !important;
}

/* FILE UPLOAD */
/* Hide the actual file upload field (as we replace it with a label that is
easier to style - see upload.html & main.js) */
#file {
    visibility: hidden;
}
/* Style the span showing selected files */
#file-shown {
  padding: 10px;
  display: inline-block;
  width: 400px;
}

/* BUTTONS (and fake buttons) */
#blast_for_seq,
#clear_all,
#filter_asvs,
#show_occurrences,
#submit,
#download,
#blast_link,
#filter_link,
#submit_link,
#download_link,
#file_label {
    border-radius: 4px;
    padding: 0px 18.2px;
    line-height: 2.5em;
    font-weight: bolder;
    text-transform: uppercase;
}

/* Add for screen readers: */
.screen-reader-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
