/* Bypass cache in Chrome/Mac: shift + cmd + r */

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

footer {
    padding: 15px;
}

.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #aa4442;
}

/* Result form until styled as dataTable */
#rform {
    visibility: hidden;
 }
#sform {
     visibility: hidden;
}
/* Query col */
#blast_result_table td:nth-child(2) {
    word-wrap: break-word;
    max-width: 100px;
 }
/* Subject col */
#blast_result_table td:nth-child(3) {
    word-wrap: break-word;
    max-width: 400px;
    padding-right: 20px;
}
td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center right;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center right;
}
/* ASV col*/
#api_result_table td:nth-child(2) {
    word-wrap: break-word;
    max-width: 400px;
    padding-right: 20px;
}

.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f2e4e4;
}
.visHlpDiv {
    display: block;
    text-align: right;
    color: #aa4442;
}
select.select2{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
