/* Bypass cache in Chrome/Mac: shift + cmd + r */

/* GENERAL */
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

footer {
    padding: 15px;
}

.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #aa4442;
}

/* FORMS */
/* Result form until styled as dataTable */

#rform {
    visibility: hidden;
 }
#sform {
     visibility: hidden;
}
/* RESULT TABLES */
/* Query (user sequence ID) col */
#blast_result_table td:nth-child(2),
#blast_result_table th:nth-child(2){
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}
/* Subject / ASV col */
#blast_result_table td:nth-child(3),
#blast_result_table th:nth-child(3),
#api_result_table td:nth-child(2),
#api_result_table th:nth-child(2)  {
    word-wrap: break-word;
    max-width: 400px;
    min-width: 400px;
    padding-right: 30px;
}
#api_result_table td:nth-child(5),
#api_result_table th:nth-child(5),
#api_result_table td:nth-child(6),
#api_result_table th:nth-child(6) {
    word-wrap: break-word;
    max-width: 100px;
    min-width: 100px;
}

/* Expandable seqs */
td.details-control {
    background: url('img/details_open.png') no-repeat top 13px right 10px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('img/details_close.png') no-repeat top 13px right 10px;
}

/* HELP */
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f2e4e4;
}
.visHlpDiv {
    display: block;
    text-align: right;
    color: #aa4442;
}
