/* Bypass cache in Chrome/Mac: shift + cmd + r */

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

footer {
    padding: 15px;
}
.main-content {
    padding: 15px 15px;
    /* color: red */
}
/* Hide unstyled result form */
#rform {
    visibility: hidden;
 }
#sform {
     visibility: hidden;
}
#result_table td:nth-child(1) {
    word-wrap: break-word;
    /* min-width: 100px; */
    max-width: 100px;
 }
/* Subject */
#result_table td:nth-child(2) {
    word-wrap: break-word;
    /* min-width: 500px; */
    max-width: 400px;
}
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f2e4e4;
}
.visHlpDiv {
    display: block;
    text-align: right;
    color: #aa4442;
}
/* select.select2{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    color: #444;
    background-color: #FFF;
    border: 1px solid #AAA;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    padding-left: 5px;
    font: unset;
} */

select.select2{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



/* select.select2{display: none}
