/* Bypass cache in Chrome/Mac: shift + cmd + r */

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

footer {
    padding: 15px;
}

.main-content {
    padding: 15px 15px;
}

.help-block {
    color: #aa4442;
}

/* Result form until styled as dataTable */
#rform {
    visibility: hidden;
 }
#sform {
     visibility: hidden;
}
/* Query col */
#blast_result_table td:nth-child(2) {
    word-wrap: break-word;
    max-width: 100px;
 }
/* Subject col */
#blast_result_table td:nth-child(3), #api_result_table td:nth-child(2)  {
    word-wrap: break-word;
    max-width: 400px;
    padding-right: 20px;
}
td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center right;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center right;
}
.hiddenElem {
    display: none;
}
.visHlpElem {
    background-color: #f2e4e4;
}
.visHlpDiv {
    display: block;
    text-align: right;
    color: #aa4442;
}
