{% extends "layout.html" %}
{% block body %}
<div class='container'>
    <form action='' method='post' id='sform' name='sform' class='search_function' >
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-6'>
                <h6><b>Target gene(s)</b></h6>
                {% if sform.gene_sel.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.gene_sel(id='gene_sel', class='form-control select2') }}
                        <span class='help-block'>
                            {% for error in sform.gene_sel.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-6'>
                <h6><b>Forward primer(s)</b></h6>
                {% if sform.fw_prim_sel.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.fw_prim_sel(id='fw_prim_sel', class='form-control select2') }}
                        <span class='help-block'>
                            {% for error in sform.fw_prim_sel.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
            <div class='col-md-6'>
                <h6><b>Reverse primer(s)</b></h6>
                {% if sform.rv_prim_sel.errors %}
                    <div class='form-group has-error'>
                {% else %}
                    <div class='form-group'>
                {% endif %}
                        {{ sform.rv_prim_sel(id='rv_prim_sel', class='form-control select2') }}
                        <span class='help-block'>
                            {% for error in sform.rv_prim_sel.errors %}
                            {{ error }}
                            {% endfor %}
                        </span>
                    </div>
            </div>
        </div>

        <br>
        <hr>
        <br>
        <div class='row'>
            <div class='col-md-2'>
                {{ sform.search_for_asv(class='btn btn-primary', id='search_for_asv') }}
            </div>
        </div>
    </form>
</div>
<br>
<br>
{% if rform %}
<script>
    var apiResults = {{ api_results|tojson }};
</script>
<div class='container' id='result'>
    <form action={{ rform.batch_url }} method='post' id='rform' name='rform'>
        {{ rform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <table id='result_table' class='dataframe table table-striped'>
                    <thead>
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>ID</th>
                            <th>ID</th>
                            <th>Gene</th>
                            <th>Fragment</th>
                            <th>Forward primer</th>
                            <th>Reverse primer</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Hidden part, for redirection to SBDI -->
        <div class='row'>
            <textarea name='queries' id='raw_names' style='display: none'></textarea>
            <!-- Make visible for testing: -->
            <!-- <textarea name='queries' id='raw_names' rows=4, cols=40></textarea> -->
            <input type='hidden' name='redirectBase' value={{ rform.redirect_url }} >
            <input type='hidden' name='field' value='taxon_id'/>
            <input type='hidden' name='action' value='Search'/>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-2'>
                <input id='show_occurrences' name='show_occurrences' type='submit' value='Show occurrences' class='btn btn-primary'/>
            </div>
            <div class='col-md-10 hiddenElem' id='selection_error'>Please select at least one BLAST hit</div>
        </div>
    </form>
</div>
{% endif %}

{% endblock body %}
