{% extends "layout.html" %}
{% block body %}
<div class='container'>
    <form action='' method='post' id='sform' name='sform' class='search_function' >
        {{ sform.csrf_token }}
        <div class='row'>
            <div class='col-md-6'>
                <h6><b>Target gene</b></h6>
                {{ sform.gene_sel(id='gene_sel', class='form-control select2') }}
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-6'>
                <h6><b>Forward primer</b></h6>
                {{ sform.fw_prim_sel(id='fw_prim_sel', class='form-control select2') }}
            </div>
            <div class='col-md-6'>
                <h6><b>Reverse primer</b></h6>
                {{ sform.rv_prim_sel(id='rv_prim_sel', class='form-control select2') }}
            </div>
        </div>
        <br>
        <hr>
        <div class='row'>
            <div class='col-md-3'>
                <h6><b>Kingdom</b></h6>
                {{ sform.kingdom_sel(id='kingdom_sel', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <h6><b>Phylum</b></h6>
                {{ sform.phylum_sel(id='phylum_sel', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <h6><b>Class</b></h6>
                {{ sform.class_sel(id='class_sel', class='form-control select2') }}
            </div>
            <div class='col-md-3'>
                <h6><b>Order</b></h6>
                {{ sform.order_sel(id='order_sel', class='form-control select2') }}
            </div>


        </div>
        <br>
        <hr>
        <div class='row'>
            <div class='col-md-1'>
                {{ sform.search_for_asv(class='btn btn-primary', id='search_for_asv') }}
            </div>
            <div class='col-md-1'>
                <button type='button' class='btn btn-secondary' id='clear_all'>Clear all</button>
            </div>

        </div>
    </form>
</div>
<br>
<br>
{% if rform %}
<script>
    var apiResults = {{ api_results|tojson }};
</script>
<div class='container' id='result'>
    <form action={{ rform.batch_url }} method='post' id='rform' name='rform'>
        {{ rform.csrf_token }}
        <div class='row'>
            <div class='col-md-12'>
                <table id='api_result_table' class='dataframe table table-striped'>
                    <thead>
                        <tr>
                            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
                            <th>ID</th>
                            <th>ASV</th>
                            <th>Gene</th>
                            <th>Fragment</th>
                            <th>Forward primer</th>
                            <th>Reverse primer</th>
                            <th>ASV sequence</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% include "sbdi_post.html" %}
    </form>
</div>
{% endif %}

{% endblock body %}
